$gray--lightest:     #eeeeee;
$gray--light:        #ececec;
$gray--med:          #f1f3f3;
$gray--lg:           #e8e8e8;
$gray:               #818181;
$gray-link:          #b0b0b0;
$gray-state:         #cbcbcb;


$color-primary:      #ff7400;
$color-secondary:    #003366;
$color-bg-container: #d14620;
$bg-primary:         #ce3a12;
$bg-white-opacity:   rgba(255, 255, 255, 0.15);
$bg-opacity:         rgba(0, 51, 102, 0.3);
$bg-opacity--md:     rgba(0, 51, 102, 0.5);
$bg-opacity--lg:     rgba(0, 51, 102, 0.6);
$bg-dark:            rgba(0, 0, 0, 0.85);
$bg-advantage:       #ce3a12;
$bg-marker:          #fdaa28;
$socials:            #b88c63;


$bg-white:           #fff;
$bg-black:           #000;
$bg-accent:          #fa9e24;
$bg-services:        #fba225;

$text-white:         #fff;
$text-black:         #000;
$text-blue:          #1f419b;
$text-title:         #183252;
$text-dark:          #23354e;
$text-grey:          #818181;
$text-grey--md:      #666666;
$text-grey--dark:    #333;
$text-accent:        #fd862d;

$unchecked-star: '\f006';
$unchecked-color: #fd6b13;
$checked-star: '\f005';
$checked-color: #fd6b13;


$font-xxxs:          10px;
$font-xxs:           11px;
$font-xs:            12px;
$font-sm:            14px;
$font:               15px;
$font-md:            16px;
$font-lg:            18px;
$font-xlg:           22px;
$font-xxlg:          34px;
$font-largest:       36px;
$font-super-large:   90px;

$title-font--xxs:    20px;
$title-font--xs:     22px;
$title-font--sm:     24px;
$title-font:         25px;
$title-font--md:     28px;
$title-font--lg:     32px;


$line-xxs:     16px;
$line-xs:      18px;
$line-sm:      19px;
$line-md:      22px;
$line-lg:      25px;
$line-xlg:     28px;
$line-largest: 37px;
$line-super-large: 90px;


$mobile-width--xs: "(max-width: 480px)";
$mobile-width: "(max-width: 567px)";
$tablet-width: "(max-width: 767px)";
$tablet-width--md: "(max-width: 992px)";
$tablet-width--lg: "(max-width: 1024px)";
$desktop-width: "(max-width: 1200px)";
