.advantages {

  @media #{$tablet-width--md} {
    // display: none;
  }

  &--mb {
    margin-bottom: 70px;
  }

  .container {
    padding: 25px 20px;
    background: $bg-advantage url("../img/pattern.png");
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 9px 6px -8px $bg-black;
  }
}

.advantages--prices {
  margin-bottom: 70px;
}

.advantages__title {
  margin: 0;
  margin-bottom: 34px;
  font-family: 'Comfortaa';
  font-weight: 700;
  font-size: $title-font;
  line-height: $line-xlg;
  text-align: center;
  color: $text-white;
}
