.calendar {

}

.calendar__title {
  font-size: $font;
  line-height: $line-lg;
  color: $text-dark;
  font-weight: 400;
  text-transform: uppercase;
}

// ------ ui cal styles
.calendar__content .ui-widget-header {
  border: none;
  color: $text-white;
}

.calendar__content .ui-datepicker-multi-3 .ui-datepicker-group {
  width: 30%;
  margin-right: 3%;

  @media #{$desktop-width} {
    margin-right: 2%;
  }
}

.calendar__content .ui-datepicker-multi-2 .ui-datepicker-group {
  width: 48%;
  margin-right: 2%;
}


.calendar__content .ui-widget.ui-widget-content {
  margin: auto;
  border: none;
}

.calendar__content .ui-datepicker .ui-datepicker-header {
  border-radius: 6px 6px 0 0;
  background: $color-primary;
}

.calendar__content .ui-datepicker-multi .ui-datepicker-group table {
    width: 100%;
    border: 1px solid $gray--med;
    table-layout: fixed;
}

.calendar__text {
  margin-bottom: 32px;
}
