.consultation {
  margin-bottom: 88px;
  background: $gray url("../img/consultation.jpg") no-repeat;
  background-size: cover;

  @media #{$tablet-width--lg} {
    margin-bottom: 38px;
  }

  .container {
    padding-top: 45px;
    padding-bottom: 53px;
  }
}

.consultation__title {
  margin-bottom: 10px;
  font-size: $title-font--sm;
  line-height: $line-xlg;
  font-family: 'Comfortaa';
  font-weight: 700;
  color: $text-white;
  text-align: center;
}

.consultation__description {
  font-size: $font-md;
  line-height: $line-lg;
  color: $text-white;
  text-align: center;
  margin-bottom: 36px;
}
