.contacts {
  padding-top: 6px;

  @media #{$tablet-width--lg} {
    padding-top: 0;
  }

  &--footer {
    margin-bottom: 20px;
    padding: 0;
  }
}

.contacts--dark {
  color: $color-secondary;
}

.contacts__phone {
	font-size: $font-xlg;
	line-height: $line-lg;
  font-weight: 400;
	color: $text-white;
	text-decoration: none;
  white-space: nowrap;

  @media #{$tablet-width--md} {
    font-size: $font-lg;
  	line-height: $line-md;
  }

  &--black {
    color: $text-black;
  }
}

.contacts__phone--dark {
  color: $color-secondary;
  font-weight: 700;
}

.contacts__text {
	padding-top: 16px;
	color: $text-white;
	font-size: $font-xs;
	line-height: $line-xs;
  font-weight: 400;
	text-transform: uppercase;

  @media #{$tablet-width--md} {
    padding-top: 3px;
    font-size: $font-xxs;
    line-height: $line-xs;
  }

  @media #{$mobile-width} {
    padding-top: 0;
    font-size: $font-xxs;
  }

  &--black {
    color: $text-black;
  }

  &--small {
    padding-top: 0;
  }
}

.contacts__text--dark {
  color: $color-secondary;
}
