.feedback-social {
  width: 49%;
  min-height: 170px;
  padding-top: 25px;
  margin-right: 2%;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 12px;
  background: $gray--med;
  border: 1px solid $gray--lg;
  overflow: hidden;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  box-sizing: border-box;

  @media #{$tablet-width--md} {
    width: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
}

.feedback-social__title {
	margin-bottom: 28px;
	text-align: center;
	color: $text-title;
	font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
	font-size: $font-lg;
	line-height: $line-xs;
}
