.feedback-email {
	width: 49%;
	min-height: 170px;
	padding-top: 25px;
	margin-right: 2%;
	padding-left: 15px;
	padding-right: 15px;
  border-radius: 12px;
	background: $bg-advantage url("../img/pattern.png");
	overflow: hidden;
	-webkit-mask-image: -webkit-radial-gradient(white, black);
  box-sizing: border-box;

	@media #{$tablet-width--md} {
		width: auto;
		margin-right: auto;
		margin-bottom: 20px;
	}

}

.feedback-email__title {
	margin-bottom: 28px;
	text-align: center;
	color: $text-white;
	font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
	font-size: $font-lg;
	line-height: $line-xs;
}

.feedback-email__form {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

	@media #{$mobile-width--xs} {
		flex-direction: column;
		align-items: center;
	}
}

.feedback-email__input {
	margin-right: 10px;
	background-color: transparent;
	border: 1px solid $bg-white;
	border-radius: 12px;
	padding: 0 10px;
	height: 52px;
	line-height: 52px;
	font-size: $font-lg;
	color: $text-white;
}

.feedback-email__btn {
	font-size: $font-sm;
  line-height: $line-xs;
  border: none;
  padding: 17px 26px;
  border-radius: 25px;
	margin-bottom: 20px;
}
