.field-text {
  position: relative;
  margin: 0 10px 20px;

  @media #{$tablet-width} {
    margin: 0 7px 15px;
  }
}

.field-text--policy {
  max-width: 360px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 10px;
}

.field-text--radio {

  @media #{$mobile-width} {
    width: 100%;
    text-align: left;
  }

}

.field-text__label {
  position: absolute;
  top: 12px;
  left: 12px;
  color: $text-white;
  font-size: $font-lg;
  line-height: $line-xlg;
  z-index: 2;
  pointer-events: none;
  transition: transform 200ms ease;
  // transform: translateY(-35px);

  &:before {
    content: attr(data-first);
    white-space: nowrap;
  }
}

.field-text__label--dark {
  color: $color-secondary !important;
}

.field-text__label--big {
  font-size: $font-lg !important;
  line-height: $line-xlg !important;
}

.field-text__radio-label {
  display: block;
  position: static;
  transform: none;
  text-align: center;
  color: $text-white;
  font-size: $font-lg;
  line-height: $line-xlg;


  input {
    display: none;
  }
  & > span {
    display: inline-flex;
    vertical-align: middle;
    width: 26px;
    height: 26px;
    margin: 0 10px;
    border-radius: 100%;
    border: 1px solid $bg-white;
    justify-content: center;
    align-items: center;

    span {
      width: 16px;
      height: 16px;
      border-radius: 100%;
    }
  }

}

.field-text__radio-label input[type=radio]:checked + span > span {
  background: $color-primary;
}

.field-text__input {
  box-sizing: border-box;
  width: 276px;
  padding: 14px 12px;
  border: 1px solid $bg-white;
  border-radius: 15px;
  background: none;
  color: $text-white;
  font-size: $font-lg;
  line-height: $line-md;
  transition: 0.2s all;

  @media #{$desktop-width} {
    width: 100%;
  }

  @media #{$tablet-width} {
    width: 245px;
  }

  &:hover {
    border-color: $color-primary;
  }

  // &:invalid + .field-text__label {
  //   transform: translateY(0);
  // }
  //
  &:focus {
    outline: none;
    border-color: $color-primary;
    }
  //
  // &:focus + .field-text__label {
  //   transform: translateY(-35px);
  //   font-size: $font-xxs;
  //   color: $text-white;
  // }
  //
  // &:valid + .field-text__label {
  //   font-size: $font-xxs;
  //   color: $text-white;
  // }
}

.field-text__input--bg-white {
  background: $bg-white-opacity;
}

.field-text__input--dark {
  color: $color-primary;
  border-color: $color-secondary;
}

.field-text__textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 12px;
  border: 1px solid $bg-white;
  border-radius: 8px;
  resize: vertical;

  &:hover {
    box-shadow: 0 0 0 2px $bg-white inset;
  }

  // &:invalid + .field-text__label {
  //   transform: translateY(0);
  // }
  //
  &:focus {
    outline: none;
    border-color: $color-primary;
    }
  //
  // &:focus + .field-text__label {
  //   transform: translateY(-35px);
  //   font-size: $font-xxs;
  //   color: $color-primary;
  // }
  //
  // &:valid + .field-text__label {
  //   font-size: $font-xxs;
  //   color: $color-primary;
  // }

}

// .field-text__textarea--white:focus + .field-text__label {
//     color: $text-white !important;
//   }

.field-text__textarea--dark {
  border-color: $color-secondary;
}

.field-text__textarea--bg-white {
  background: $bg-white-opacity;
  border: 1px solid $bg-white;
  color: $text-white;

  &:hover {
    border: 1px solid $color-primary;
    box-shadow: none;
  }
}

.field-text--area {
  max-width: 50%;
  padding-top: 5px;

  @media #{$tablet-width} {
    width: auto;
  }
}

.form-review {

  .field-text {
    max-width: 50%;

    @media #{$tablet-width} {
      width: 100%;
      max-width: 90%;
    }
  }
}


.field-text--area-ask {
  margin-bottom: 20px;
}

.field-text--area-calc {
  padding-top: 5px;
  margin-top: 20px;
}

.field-text__checkbox {
  line-height: $line-lg;
  cursor: pointer;

  span {
  display: block;
  width:46px;
  height:23px;
  margin-right: 10px;
  box-sizing:border-box;
  // border: 2px solid $color-bg-container;
  background: $gray;
  float:left;
  border-radius:100px;
  position:relative;
  cursor:pointer;
  transition: 0.2s ease;

  &:before{
    transition: 0.2s ease;
    content:'';
    width:19px;
    height:19px;
    position:absolute;
    background:white;
    left:2px;
    top:2px;
    box-sizing:border-box;
    // border: 3px solid;
    color: $bg-white;
    border-radius:20px;
  }
}

input[type=checkbox] {
  display: none;

  &:checked + span {
    background: $text-accent;

    &:before{
      left: 25px;
      color: $color-bg-container;
    }
  }
}
}

.field-text__checkbox--white {
  color: $text-white;

  a {
    color: $text-white;
  }
}

.filled + label:not(.steps-top__feature) {
    transform: translateY(-35px);
    font-size: $font-xxs;
    color: $color-primary;
}

.feedback-email__form .filled + label {
  color: $text-white;
}

.field-text--radio.steps__field {

  @media #{$mobile-width} {
    display: flex;
  }
}
