.gallery-programs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.gallery-programs__item {
  width: 30%;
  margin-left: 1.5%;
  margin-right: 1.5%;
  margin-bottom: 30px;
  border-radius: 12px;
  border: 2px solid $gray--lg;
  overflow: hidden;
  box-sizing: border-box;

  @media #{$tablet-width--md} {
    width: 48%;
  }
}

.gallery-programs__item--active {
  border-color: $color-primary;
  box-shadow: 0 0 15px 4px $gray-link;
}

.gallery-programs__title {
  font-size: $font-lg;
  line-height: $line-md;
  color: $text-blue;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  margin-bottom: 15px;
}

.gallery-programs__link {
  font-size: $font-lg;
  line-height: $line-md;
  color: $text-blue;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;

  &:hover {
    color: $text-accent;
    text-decoration: none;
  }
}

.gallery-programs__text {
  margin-bottom: 28px;
  line-height: $line-xs;
}
