.main-nav {

	@media #{$desktop-width} {
		// min-height: 40px;
	}

	.container {
		position: relative;
		text-align: right;
	}
}

.main-nav__list {
	list-style: none;
	display: flex;
	justify-content: space-around;
	margin: 0;
	padding: 0;

	@media #{$tablet-width} {
		display: none;
		position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    overflow-y: auto;

		&--visible {
			display: block;
			background: $color-secondary;
		}
	}

	@media #{$mobile-width} {
		top: 95px;
	}
}

.main-nav__item {

	@media (min-width: 1025px) {

		&:hover {
			> .main-nav__sub-menu {
	        display: block;
	      }
		}
	}

	@media #{$tablet-width} {
		border-bottom: 1px solid $gray;
		text-align: left;

		a {
			padding-left: 15px;
		}
	}

}

.main-nav__link {
	position: relative;
  display: block;
  padding: 15px 18px;
	font-size: $font;
	line-height: $line-xlg;
	font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  color: $text-white;
	transition: background 0.35s ease-in-out 0s, font-size 0.35s ease-in-out 0s;
	box-sizing: border-box;
	transition: padding 0.3s;
	white-space: nowrap;

	@media #{$tablet-width--lg} {
		padding: 5px;
	}

	@media #{$tablet-width--md} {
    font-size: $font-sm;
	}

  @media #{$tablet-width} {
		padding-left: 15px;
    // padding: 5px 15px;
		// font-size: @text-size--lg;
  }

	&:active {
		color: $text-accent;
	}

  &:hover {
		// background: $color-secondary;
    text-decoration: none;
  }

	&:before {
		content: "";
    width: 100%;
    height: 4px;
    background-color: $color-primary;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    transition: all 0.35s ease-in-out 0s;
    transform: scaleX(0);
    visiblity: hidden;

		@media #{$tablet-width} {
			display: none;
		}
	}

	&:hover:before {
		transform: scaleX(1);
    visiblity: visible;
	}

	&--tight {
		padding: 5px 10px;
	}

  &--active:before {
		transform: scaleX(1);
    visiblity: visible;
	}
}

.main-nav__item--drop {
  position: relative;
	padding-right: 20px;

	@media #{$tablet-width} {
		padding: 0;
	}
}

.main-nav__sub-menu {
	display: none;
	position: absolute;
	top: 100%;
	left: -20px;
	width: auto;
	padding-top: 10px;
	background: $color-secondary url("../img/pattern.png");
	min-width: 215px;
	padding: 10px 0;
	list-style: none;
	z-index: 20;
	// overflow-y: auto;
  // max-height: 80vh;

  @media #{$tablet-width} {
		display: none;
		position: static;
		background: lighten($color-secondary, 12%);
		overflow-y: visible;
	  max-height: initial;
		padding: 0;
	}

	.main-nav__item {
    padding: 5px 20px;
		text-align: left;
		border: none;

		@media #{$tablet-width} {
			padding: 0;
			text-align: left;
			border-bottom: 1px solid $gray;

			&:last-child {
				border: none;
			}
		}

	a {
		display: block;
		padding: 10px 0;
		padding-left: 25px;
		color: $text-white;
		text-decoration: none;

		&:hover {
			color: $color-primary;
		}
	}

	> .main-nav__sub-menu {
		top: -10px;
		left: 100%;
	}

	.main-nav__sub-menu {
		top: 0;
		left: 100%;

		@media #{$tablet-width} {
			padding-left: 30px;
		}
	}
	}

	.main-nav__subtoggle {
		display: none;

		@media #{$tablet-width--lg} {
			display: block;
		}
	}

}

.main-nav__sub-menu--show {
	display: block !important;
}

.main-nav__subtoggle {
  display: block;
  position: absolute;
  width: 22px;
  height: 22px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  transition: all 0.2s;

  @media #{$tablet-width} {
		height: 38px;
    top: 0;
		transform: translateX(0);
  }

    @media #{$desktop-width} {
    // display: none;
  }
}

.main-nav__subtoggle:before {
  content: "";
  position: absolute;
  top: 11px;
  left: 4px;
  width: 8px;
  height: 2px;
  background: $color-primary;
  transform: rotateZ(40deg);

	@media #{$tablet-width} {
		top: 18px;
		background: $color-primary;
	}

}
.main-nav__subtoggle:after {
  content: "";
  position: absolute;
  top: 11px;
  left: 9px;
  width: 8px;
  height: 2px;
  background: $color-primary;
  transform: rotateZ(-40deg);

	@media #{$tablet-width} {
		top: 18px;
		// background: @bg-black;
	}

}

.main-nav__subtoggle--up {
  transform: rotateX(180deg) translateY(10px);

	@media #{$tablet-width} {
		transform: rotateX(180deg) translateY(0);
	}
}

// .main-nav__subtoggle:hover:before,
// .main-nav__subtoggle:hover:after {
// 	@media @tablet-width {
//   background: @bg-black;
// }
// }
