.main-video {
	height: 334px;
	background: url("../img/video-bg.jpg") no-repeat;
	background-size: cover;

	.container {
		padding-top: 34px;
		text-align: center;
	}
}

.main-video__slider {
	position: relative;
	overflow: hidden;
	height: 334px;

	.swiper-slide {
		background: url("../img/video-bg.jpg") no-repeat;
		background-size: cover;
	}
}

.main-video__title {
	margin-bottom: 10px;
	color: $text-white;
	font-family: 'Comfortaa', Verdana, sans-serif;
  font-weight: 400;
	font-size: $font-lg;
	line-height: $line-md;
}

.main-video__time {
	margin-bottom: 40px;
	color: $text-white;
}

@keyframes video {
	0% {
		transform: translateY(-10px);
	}
	50% {
		transform: translateY(-5px);
	}
	100% {
		transform: translateY(-10px);
	}
}

@keyframes up {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-10px);
	}
}

.main-video__link {
	display: inline-flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 88px;
	height: 88px;
	border-radius: 100%;
	border: 2px solid $bg-white;
	transition: all 0.2s;

	&:hover {
		box-shadow: 0 0 9px 1px $bg-white;
		animation-name: up, video;
		animation-delay: 0s, .3s;
		animation-duration: 0.3s, 1.5s;
		animation-timing-function: ease-out, ease-in-out;
		animation-iteration-count: 1, infinite;
		animation-fill-mode: forwards;
		animation-direction: normal, alternate;
	}

	img {
		max-width: 100%;
		margin-left: 6px;
	}
}
