.main-info {

  .container {
    display: flex;
    flex-direction: row;
    padding-top: 90px;
    padding-bottom: 100px;

    @media #{$tablet-width--lg} {
      display: block;
      padding-top: 30px;
      padding-bottom: 20px;
    }
  }
}

.main-info__news {
  flex: 1;
  width: 50%;
  margin-right: 20px;

  @media #{$tablet-width--lg} {
    width: auto;
    margin-right: 0;
    margin-bottom: 40px;
  }
}

.main-info__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 44px;

  @media #{$tablet-width--lg} {
    margin-bottom: 20px;
  }
}

.main-info__title {
  margin: 0;
  margin-right: 40px;
  font-size: $title-font;
  line-height: $line-xlg;
  font-family: 'Comfortaa', Verdana, sans-serif;
  font-weight: 700;
  color: $color-secondary;

  &--orange {
    color: $color-primary;
  }
}

.main-info__stock {
  width: 50%;

  @media #{$tablet-width--lg} {
    width: auto;
    flex: 0;
  }
}
