.page-description {
  background: $gray--med;

  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.page-description__img {
  width: 104px;
  height: 104px;
  margin: 0;
  margin-right: 20px;
  flex-shrink: 0;


  img {
    width: 100%;
  }
}

.page-description__text {
  max-width: 655px;
  color: $text-dark;
}
