.page-text {
	margin-bottom: 35px;

	p {
		font-size: $font-sm;
		line-height: $line-md;
		color: $color-secondary;
		// margin-bottom: 30px;
	}

	.page-text__img {
		float: left;
		margin-left: 15px;
	  margin-bottom: 15px;

		@media #{$tablet-width--lg} {
			float: none;
		}
	}
}

.page-text--columns {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;

	@media #{$tablet-width--md} {
		display: block;
	}
}

.page-text__title {
	margin-bottom: 15px;
	font-size: $font-lg;
	line-height: $line-md;
	font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
	color: $text-title;
}

.page-text__title--orange {
	font-size: $font-md;
	line-height: $line-xlg;
	color: $color-primary;
	text-transform: uppercase;
}

.page-text__img {
	margin: 0;
	margin-right: 20px;
	margin-bottom: 10px;
	flex-shrink: 0;

	@media #{$tablet-width--md} {
		margin: auto;
	}

	img {
		width: 100%;
	}
}

.page-text__container {

	b {
		font-weight: bold;
	}
}
