.page-title {
	font-size: $title-font--xs;
	line-height: $line-lg;
	font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
	margin-bottom: 40px;
	margin-top: 20px;
	color: $color-secondary;
}
