.pagination {
  display: flex;
  justify-content: center;
  align-items: center;

  @media #{$mobile-width--xs} {
    flex-wrap: wrap;
  }

  li {
    margin-bottom: 7px;
    list-style: none;
  }
}

.pagination__item {
  display: block;
  padding: 13px 18px;
  border: 1px solid $color-primary;
  color: $text-title;
  font-size: $font-xlg;
  line-height: $line-md;
  margin-left: 3px;
  margin-right: 3px;
  text-decoration: none;
  border-radius: 8px;
  transition: all 0.2s;

  &:hover {
    color: $text-white;
    background: $color-primary;
  }
  &:active {
    color: $text-white;
    background: $color-bg-container;
    transition: none;
  }

  @media #{$mobile-width--xs} {
    padding: 5px 10px;
  }
}

.pagination__item--prev {
  font-size: $font;
  line-height: $line-md;
  border: none;
  text-decoration: underline;

  &:hover {
    color: $color-primary;
    background: transparent;
  }
  &:active {
    color: $color-bg-container;
    background: transparent;
  }
}

.pagination__item--next {
  font-size: $font;
  line-height: $line-md;
  border: none;
  text-decoration: underline;

  &:hover {
    color: $color-primary;
    background: transparent;
  }
  &:active {
    color: $color-bg-container;
    background: transparent;
  }
}

.pagination__item--current {
  background: $color-primary;
  color: $text-white;
}
