.people-count {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;

  @media #{$tablet-width--md} {
    margin-bottom: 20px;
  }

  @media #{$tablet-width} {
    display: block;
  }

}

.people-count__list {
  display: flex;
}

.people-count__adult {

  @media #{$tablet-width} {
    margin-bottom: 25px;
  }
}

.people-count__children {

  .people-count__title {
    margin-bottom: 23px;

    @media #{$tablet-width} {
      margin-bottom: 13px;
    }
  }
}

.people-count__title {
  margin-bottom: 13px;
}

.people-count__item {
  margin-right: 23px;
  cursor: pointer;

  input[type="radio"] {
    display: none;

    &:checked + .people-count__pic-adult {
      background: url("../img/adult-active.png");
    }

    &:checked + .people-count__pic-children {
      background: url("../img/children-active.png");
    }
  }
}

.people-count__pic-children {
  display: block;
  width: 9px;
  height: 20px;
  background: url("../img/children.png");
  background-size: contain;
}

.people-count__pic-children--2 {
  width: 18px;
}

.people-count__pic-children--3 {
  width: 27px;
}

.people-count__pic-children--4 {
  width: 36px;
}

.people-count__pic-adult {
  display: block;
  width: 13px;
  height: 30px;
  background: url("../img/adult.png");
  background-size: contain;
}

.people-count__pic-adult--1 {

}

.people-count__pic-adult--2 {
  width: 26px;
}

.people-count__pic-adult--3 {
  width: 39px;
}

.people-count__pic-adult--4 {
  width: 52px;
}
