.price-list {

}

.price-list__title {
  margin-bottom: 12px;
  font-size: $font-lg;
  line-height: $line-lg;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  color: $text-dark;
  text-align: center;
}
