.review-mark {
  display: flex;
}

.review-mark__title {
  margin-right: 15px;
  font-size: $font-lg;
  line-height: $line-xlg;
}

.review-mark__list {
  color: $text-accent;
  font-size: $font-lg;
  line-height: $line-xlg;
}

.review-mark__link {
  font-size: $font-lg;
  line-height: $line-xlg;
  color: $text-accent;
}
