.review {
  margin-bottom: 40px;
  padding-top: 20px;
  padding-left: 25px;
  padding-right: 10px;
  padding-bottom: 25px;
  border: 1px solid $gray--lg;
	border-radius: 12px;
	overflow: hidden;
	-webkit-mask-image: -webkit-radial-gradient(white, black);
  box-sizing: border-box;
  color: $text-title;

  @media #{$mobile-width} {
    margin-bottom: 15px;
    padding-left: 10px;
  }
}

.review--bg-gray {
	background: $gray--med;
}

.review__top {
  margin-bottom: 10px;
}

.review__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.review__name {
  margin-right: 33px;
  font-size: $font-lg;
  line-height: $line-md;
  color: $text-title;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
}

.review__date {
  font-size: $font-xs;
  line-height: $line-md;
}

.review__city {
  font-size: $font-xs;
  line-height: $line-md;
}

.review__link-more {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 16px;
  color: $text-title;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px dashed $text-title;
  transition: all 0.2s;

  &:after {
    content: '';
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid $text-title;
  }

  &:hover {
    color: $text-accent;
  }
}

.review__link-more--closed {

  &:after {
    border-top: 5px solid $text-title;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 4px solid transparent;
    margin-top: 5px;
  }
}

.review__marks {
  margin-bottom: 25px;
}
