.review-content {
	margin-bottom: 30px;
	font-size: $font;
	line-height: $line-xlg;
}

.review-content__item {
	margin-bottom: 30px;
}

.review-content__title {
  font-weight: 700;
	margin-bottom: 5px;
}

.review-content__title--orange {
  color: $text-accent;
}

.review-content__text {
	line-height: $line-md;
}
