.room-book {
	padding: 40px 35px;
	background: $color-secondary url("../img/pattern.png");
  text-align: center;
	border-radius: 15px;
	overflow: hidden;
	margin-bottom: 20px;
}

.room-book__title {
	margin-bottom: 10px;
	font-size: $font;
	line-height: $line-lg;
	color: $text-white;
	font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
}

.room-book__phone {
  color: $text-white;
	text-decoration: none;
	margin-bottom: 15px;
	font-weight: 700;
	font-size: $font-xlg;
	line-height: $line-largest;
}

.room-book__text {
	color: $text-white;
	font-size: $font;
	line-height: $line-xlg;

	span {
		text-transform: uppercase;
	}
}
