.room-type {
  display: flex;
  overflow: hidden;
  flex-direction: row;

  margin-bottom: 45px;

  border: 1px solid $gray--lg;
  border-radius: 12px;

  align-items: flex-start;

  @media #{$mobile-width} {
    display: block;
  }
}

.room-type__pic {
  margin: 0;
  width: 274px;
  font-size: 0;
  line-height: 0;

  @media #{$mobile-width} {
    width: 100%;
  }

  img {
    width: 100%;
  }
}

.room-type__info {
  padding: 20px 15px;
}

.room-type__title {
  margin-bottom: 15px;

  color: $text-title;

  font-family: 'Comfortaa';
  font-size: $font-lg;
  font-weight: 700;
  font-style: normal;
  line-height: $line-xs;
}

.room-type__list {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.room-type__item {
  list-style: none;

  color: $color-secondary;

  font-size: $font-sm;
  line-height: $line-xs;
}
