.room-description {
	flex-basis: 30%;
	border: 1px solid $gray--lg;
	box-sizing: border-box;
	border-radius: 15px;
	margin-bottom: 24px;
}

.room-description__top {
  padding: 25px 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid $gray--lg;
}

.room-description__title {
	margin-bottom: 20px;
	font-size: $font-lg;
	line-height: $line-md;
	font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
	color: $text-title;
}

.room-description__item {
	position: relative;
	padding-left: 40px;
	margin-bottom: 20px;
	font-weight: 400;
	color: $color-secondary;
	font-size: $font-sm;
	line-height: $font-lg;

	&:before {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		background-repeat: no-repeat;
	}

	span {
		font-size: $font-xlg;
		line-height: $line-lg;
		color: $text-accent;
	}
}

.room-description__item--small {
	font-size: $font-xs;
	line-height: $line-xxs;
}

.room-description__item--square {

	&::before {
		width: 28px;
		height: 28px;
	  background-image: url("../img/sprite.png");
		background-position: -197px -123px;
	}
}

.room-description__item--guests {

	&::before {
	  background-image: url("../img/sprite.png");
		width: 30px;
    height: 23px;
    background-position: -43px -77px;
	}
}

.room-description__item--price {
	margin-bottom: 10px;
}

.room-description__bottom {
  padding: 25px 20px;
}
