.steps-nav {
  position: sticky;
  top: 50px;
  margin-bottom: 25px;
  border-radius: 12px;
  border: 1px solid $gray--lg;

  @media #{$tablet-width} {
    position: static;
  }

}

.steps-nav__title {
  padding: 22px 17px;
  font-size: $font;
  line-height: $line-md;
  color: $text-title;
  text-transform: uppercase;
  border-bottom: 1px solid $gray--lg;
  font-weight: 400;
}

.steps-nav__item {
  position: relative;
  padding: 22px 17px;
  border-bottom: 1px solid $gray--lg;

  @media #{$tablet-width--lg} {
    padding: 12px;
  }

  &:last-child {
    border: none;
  }
}

.steps-nav__link {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
  text-decoration: none;
  border-bottom: 1px dashed $color-secondary;
  font-size: $font-md;
  line-height: $line-xs;

  &:before {
    content: '';
    position: absolute;
    top: 17px;
    left: 0;
    display: block;
    width: 0;
    height: 30px;
    transition: border 0.2s ease-out;
  }

  &:hover {
    color: $color-primary;
    border-color: $color-primary;

    &:before {
      border-right: 5px solid $color-primary;
    }
  }
}

.steps-nav__link--current {
  border-bottom: none;
  color: $color-primary;

  &:before {
    border-right: 5px solid $color-primary;
  }
}

.steps-nav__details {
  margin-bottom: 5px;
  color: $text-dark;

  span {
    color: $gray-link;
  }
}
