.table-mobile-scroll {
  display: block;
  width: 100%;
	padding: 24px 20px;
  overflow-x: auto;
  box-sizing: border-box;
  border-radius: 12px;
  border: 1px solid $gray--lg;

  table {
    margin: 0;
    border: 0 !important;
    width: 100%;
  }

  tbody,
  thead,
  tfoot {

    &:last-child {

      tr:last-child {

        td,
        th {
          border-bottom: 0;
        }
      }
    }
  }

  td {
    text-align: left;
    padding: 5px;
    color: $text-dark;
    font-size: $font-sm;
    line-height: $line-md;
    text-align: center;

    &:first-child {
      text-align: left;
    }
  }

  th {
    text-align: left;
    padding: 5px;
    color: $color-secondary;
    text-transform: uppercase;
    font-size: $font;
    line-height: $line-lg;
    font-weight: 400;
  }

  caption {
    text-align: left;
    padding: 0.4em;
    caption-side: top;
  }
}

.table-mobile-scroll__pic {
  display: block;
  margin: auto;
  text-align: center;

  img {
    max-width: 100%;
  }
}

.table-mobile-scroll__ticket-link {
  color: $text-dark;
  font-size: $font-sm;
  line-height: $line-md;

  &:hover {
    color: $text-accent;
  }
}
