.tabs {

  @media #{$tablet-width} {
    // display: none;
  }
}

.tabs__header {
  background: $gray--med;

  @media #{$tablet-width--lg} {
    display: none;
  }
}

.tabs__header--mobile {
  display: none;

  @media #{$tablet-width--lg} {
    display: block;
  }
}

.tabs__header--gen {
  display: block !important;
}
