.workers-list {
  margin-bottom: 30px;
}

.workers-list__title {
  color: $color-secondary;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  margin-bottom: 24px;
  font-size: $title-font;
  line-height: $line-xlg;
}

.workers-list__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
